* {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

hr {
  width: 60%;
  margin: 20px 20%;
  height: 1px;
  color: #333;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.non-footer {
  margin: 0;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.top {
  width: 100%;
  text-align: center;
  padding: 60px 0 20px 0;
}

.title {
  margin-top: 0;
}

.center {
  position: relative;
  top: 30%;
  text-align: center;
}

.bottom {
  height: calc(60% - 20px);
  padding-bottom: 70px;
}

#user-data {
  list-style-type: none;
  padding-top: 10px;
}

#user-data .map {
  display: inline-block;
  margin-top: 5px;
}

.footer {
  margin: 0;
  padding: 0 6px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
}

.footer-left {
  float: left;
}

.bottom .row {
  height: 100%;
}

.bottom .col-sm-12 {
  height: 100%;
}

.history {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-bottom: 70px;
}

.history li {
  margin: 0 20px 10px 20px;
  padding: 5px;
  box-sizing: border-box;
  width: calc(100% - 40px);
}

.history > li {
  border: solid 1px #ccc;
  border-radius: 8px;
  box-shadow: 0 6px 12px #ccc;
  margin-bottom: 15px
}

.history li.error {
  color: red;
}

.history li .query {
  font-size: 18px;
  color: #67a;
}

.history li .query:before {
  content: "“";
  color: inherit;
}

.history li .query:after {
  content: "”";
  color: inherit;
}

.history li .result {
  font-size: 20px;
  padding: 5px 15px;
  width: 100%;
  box-sizing: border-box;
  color: inherit;
  overflow: hidden;
}

.history li .data {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
  overflow-y: hidden;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  max-height: 15px;
  transition: 0.6s max-height cubic-bezier(0, 1.05, 0, 1);
  -o-transition: 0.6s max-height cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: 0.6s max-height cubic-bezier(0, 1.05, 0, 1);
  -webkit-transition: 0.6s max-height cubic-bezier(0, 1.05, 0, 1);
}

.history li .data span.data-toggler:before {
  content: '▶';
  font-style: normal;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.history li .data.expanded {
  max-height: 6000px;
  transition: 0.9s max-height ease;
  -o-transition: 0.9s max-height ease;
  -moz-transition: 0.9s max-height ease;
  -webkit-transition: 0.9s max-height ease;
}

.history li .data.expanded span.data-toggler:before {
  content: '▼';
  font-style: normal;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.history li .attribution {
  float: right;
}

.mic-wrapper {
  position: absolute;
  right: 48px;
  z-index: 100;
  cursor: pointer;
}

#mic {
  position: relative;
  height: 32px;
  width: 32px;
}

.loading-wrapper {
  padding-top: 20px;
}

#loader {
  height: 66px;
  width: 66px;
}

.pal-team {
  list-style-type: none;
  padding: 0;
}

.pal-team li {
  display: inline-block;
}

.pal-team li:before {
  content: " | ";
}

.pal-team li:first-child:before {
  content: "";
}

p.about {
  max-width: 740px;
  display: inline-block;
}

.try-me {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.try-me li {
  text-align: left;
  margin-bottom: 5px;
}

.try-me li:before {
  content: '— ';
}

.team-pic {
  display: inline-block;
  width: 90%;
  max-width: 720px;
  margin-bottom: 10px;
}

.home-abt {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: capitalize;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 20px;
  }
  .prompt {
    height: 20px;
    width: 80%;
  }

  .mic-wrapper {
    position: absolute;
    right: 48px;
    z-index: 100;
  }

  #mic {
    position: relative;
    height: 20px;
    width: 20px;
  }

  .pal-team li {
    display: block;
    margin-bottom: 5px;
  }

  .pal-team li:before {
    content: "";
  }
}
