<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PAL Web Client</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="{{ url_for('static', filename='home.js') }}"></script>
</head>
<body>
  <div class="page">
    <div class="center">
      <h1 class="title">Hi, how can I help you?</h1>
      <input class="prompt" type="text">
      <div class="result">&nbsp;</div>
    </div>
  </div>
  <div class="footer">© 2015 The Best Comps Team</div>
</body>
</html>
