<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>PAL Web Client</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div id="fb-root"></div>
  <div class="top">
	<h1 class="title">Hi, I'm PAL, how can I help you?</h1>
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-2">
          <div class="input-group">
            <span class="input-group-addon" id="speak" style="display: none;">
              Speak
              <input type="checkbox" id="speak-check">
            </span>
            <input type="text" class="form-control" id="prompt">
              <div class="mic-wrapper">
                <img src="{{ url_for('static', filename='mic.gif') }}" id="mic">
              </div>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="go-btn">Go!</button>
            </span>
          </div>
          <ul id="user-data"></ul>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="history"></ul>
          </div>
        </div>
      </div>
    </div>
  <div class="navbar navbar-default navbar-fixed-bottom footer" style="padding-top: 14px;">
    <div class="container">
      <span class="footer-left"><a href="/debug">Debug view</a></span>
      © 2015 PAL
    </div>
  </div>
</body>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="{{ url_for('static', filename='home.js') }}"></script>
  <script src="//connect.facebook.net/en_US/sdk.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
  <script src="{{ url_for('static', filename='locationpicker.js') }}"></script>
  <script src="{{ url_for('static', filename='speech.js') }}"></script>
</html>
